.signin-banner {
  background:url("../images/night-city.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#signin_form {
  width: 26em;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 17px;
  position: relative;
  top: 10em;
}

.signin-header {
  background-color: violet;
  width: 17.5em;
  height: 109px;
  margin: 0 auto;
  padding-bottom: 0;
}

.signin-header p:nth-child(1) {
  font-size: 41px;
  color: #fff;
  font-family: 'Noto Sans';
  line-height: 50px;
  padding-top: 5px;
  margin-left: 0px;
}

.signin-header p:last-child {
  font-size: 41px;
  color: #fff;
  font-family: 'Noto Sans';
  margin-top: -1px;
}

.signin-user {
  margin-left: 38px;
}

.signin-user label {
   display: flex;
   justify-content: flex-start;
   font-size: 12px;
   font-family: 'Noto Sans';
   font-weight: 400;
   margin-top: 16px;
   line-height: 5px;
}

.signin-user input {
  width: 183px;
  height: 20px;
  font-size: 13px;
  border: 1px solid #999;
  border-radius: 4px;
  border-radius: 5px !important;
  padding: 5px 7px !important;
}

.signin-user input:focus {
   outline-width: 0;
}

.signin-mail {
  margin-left: 38px;
}

.signin-mail label {
   display: flex;
   justify-content: flex-start;
   font-size: 12px;
   font-family: 'Noto Sans';
   font-weight: 400;
   margin-top: 16px;
   line-height: 5px;
}

.signin-mail input {
  width: 183px;
  height: 20px;
  font-size: 13px;
  border: 1px solid #999;
  border-radius: 4px;
  border-radius: 5px !important;
  padding: 5px 7px !important;
}

.signin-mail input:focus {
   outline-width: 0;
}

.signin-pass {
  margin-left: 38px;
}

.signin-pass label {
   display: flex;
   justify-content: flex-start;
   font-size: 12px;
   font-family: 'Noto Sans';
   font-weight: 400;
   margin-top: 16px;
   line-height: 5px;
}

.signin-pass input {
  width: 183px;
  height: 20px;
  font-size: 13px;
  border: 1px solid #999;
  border-radius: 4px;
  border-radius: 5px !important;
  padding: 5px 7px !important;
}

.signin-pass input:focus {
  outline-width: 0;
}

.signin-text {
  font-size: 15px;
  font-family: 'Noto Sans';
  border-bottom: 1px solid blue;
  margin: 0 auto;
  position: relative;
  top: 5px;
  width: 213px;
  color: blue;
}

#signin_btn {
  margin-top: 30px;
  border-radius: 7px;
  font-size: 13px;
  font-family: 'Open Sans';
  font-weight: 400;
  width: 213px;
  margin: 13px 0 0 24px;
  color: #fff;
  background-color: #0064ff;
}

.login-text-link {
  font-size: 13px;
  margin: 11px 0 0 36px;
  font-family: 'Noto Sans';
}

#login_link {
  color: #a590ff;
  text-decoration:none; 
  list-style-type: none;
}

.result-message {
  font-size: 14px;
}

.indicator {
  display: none;
  font-size: 13px;
}

#signin_user-error {
  color: red;
  font-size: 11px;
  margin: 8px 0 0 2px;
}

#signin_mail-error {
  color: red;
  font-size: 11px;
  margin: 8px 0 0 2px;
}

#signin_pass-error {
  color: red;
  font-size: 11px;
  margin: 8px 0 0 2px;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('http://localhost/wordpress/wp-content/themes/xyz-market/fonts/NotoSans/NotoSans-Regular.ttf'); 
  src: local(''),
       url('http://localhost/wordpress/wp-content/themes/xyz-market/fonts/NotoSans/NotoSans-Regular.ttf') format('truetype') 
}
